portfol/gkh-smart/.idea/workspace.xml
*.xml
portfol/metrostroy/.idea/workspace.xml
portfol/gkh-smart.rar
portfol/kids_old.rar
portfol/kids/.idea/workspace.xml
portfol/kids — копия/.idea/workspace.xml
portfol/kids/.idea/workspace.xml
portfol/kids/.idea/workspace.xml
*.xml
portfol/metrostroy/project000.html
portfol/metrostroy/.idea/workspace.xml
portfol/kids/.idea/workspace.xml
portfol/metrostroy/.idea/workspace.xml
*.xml
portfol/metrostroy/.idea/workspace.xml
portfol/metrostroy/.idea/workspace.xml
portfol/metrostroy.rar