@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300&subset=latin,cyrillic);

a,p,span,button {
    font-family: 'Roboto', sans-serif;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}
h1,h2,h3,h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
body {
    background-color: #404447;
    min-width: 1000px;
}
.container {
    width: 100%;
    min-width: 1000px;
}
.nav_menu {
    background-color: #404447;
    position: absolute;
    height: 100vh;
    padding: 0;
    text-align: center;
    /*width: 101px;*/
}
.nav_link li a {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
}
.account_ava {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    padding: 0 20px;
}
.account_ava:hover {
    text-decoration: none;

}
.account_ava:hover .ava_bl {
    border-color: #4ebfae;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}
.account_ava:hover span {
    text-decoration: none;
    color: #c6c6c6;
}
.account_ava span {
    color: #ffffff;
    font-size: 14px;
    width: 80px;
    display: block;
    margin: 0 auto;
}
.ava_bl {
    width: 42px;
    height: 42px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #ffffff;
    position: relative;
    overflow: hidden;
    margin: 0 auto 10px;
    -webkit-transition: 0.3s ease;
    -moz-transition:  0.3s ease;
    -ms-transition:  0.3s ease;
    -o-transition:  0.3s ease;
    transition:  0.3s ease;
}
.ava_bl img {
    width: 100%;
}

.content_bl {
    background-color: #eae3e1;
    /*margin-left: 110px;*/
    height: 100vh;
    padding: 0 20px;
}
.data_bl {
    background-color: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 84%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.history_name_record {
    font-size: 14px;
    color: #666666;
    /*margin: 25px 0 20px;*/
}
.history_block {
    padding: 25px 15px 10px;
}
.block_identification {
    text-align: center;
}
.btn_check {
    background-color: #ffffff;
    border: 1px solid #4ebfae;
    font-size: 14px;
    color: #4ebfae;
    padding: 5px 20px;
    font-family: 'Roboto', sans-serif;
    /*-webkit-box-shadow: inset 1px 1px 1px 1px #d3efeb;*/
    /*-moz-box-shadow: inset 1px 1px 1px 1px #d3efeb;*/
    /*box-shadow: inset 1px 1px 1px 1px #d3efeb;*/
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}
.btn_check.active,.btn_check:hover,.btn_check:active,.btn_check:focus,.btn_check.active:hover,.btn_check.active:active {
    background-color: #4ebfae;
    border: 1px solid #4ebfae;
    -webkit-box-shadow: none
    -moz-box-shadow: none;
    box-shadow: none;
    color: #ffffff;
}
.btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success:active.focus, .btn-success:active:focus, .btn-success:active:hover, .open>.dropdown-toggle.btn-success.focus, .open>.dropdown-toggle.btn-success:focus, .open>.dropdown-toggle.btn-success:hover{
    background-color: #388b7c;
    border-color: #41b6ab;
}
.input_record {
    text-align: left;
    color: #666666;
    font-size: 13px;
    float: left;
    padding-top: 16px;

}
.inputs_records {
    margin: 30px 0 50px;
    float: left;
    width: 100%;
}
.no_pad {
    padding: 0;
}
.inputs_records .form-control {
    border: none;
    border-bottom: 1px solid #d6d0ce;
    padding: 5px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 16px;
}
.text_identif_bl {
    margin-bottom: 35px;
}
.add_people {
    color: #4ebfae;
    font-size: 14px;
}
.name_list {
    display: inline-block;
}
.name_list button,.name_list button:hover,.name_list button:active:focus {
    background-color: transparent;
    border: 0;
    color: #4ebfae;
    font-size: 14px;
}