@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,500);
h1,h2,h3,h4 {
  font-weight: 300;
}
* {
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
p,a,span,button {
  font-weight: 400;
  outline: none!important;
}
body {
  font-family: 'Roboto', sans-serif;
  padding-top: 106px;
  padding-bottom: 25px;
}
html {
  position: relative;
  min-height: 100%;
}
//svg {
//  -webkit-transition: 0.3s all;
//  -moz-transition: 0.3s all;
//  -ms-transition: 0.3s all;
//  -o-transition: 0.3s all;
//  transition: 0.3s all;
//}

/* Template-specific stuff
 *
 * Customizations just for the template; these are not necessary for anything
 * with disabling the responsiveness.
 */


body,
.navbar-fixed-top,
.navbar-fixed-bottom {
  //min-width: 970px;
  min-width: 1000px;
}

/* Don't let the lead text change font-size. */
.lead {
  font-size: 16px;
}

/* Finesse the page header spacing */
.page-header {
  margin-bottom: 30px;
}
.page-header .lead {
  margin-bottom: 10px;
}


/* Non-responsive overrides
 *
 * Utilize the following CSS to disable the responsive-ness of the container,
 * grid system, and navbar.
 */

/* Reset the container */
.container {
  width: 970px;
  max-width: none !important;
}

.container .navbar-header,
.container .navbar-collapse {
  margin-right: 0;
  margin-left: 0;
}

/* Always float the navbar header */
.navbar-header {
  float: left;
}

/* Undo the collapsing navbar */
.navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
  visibility: visible !important;
}

.navbar-toggle {
  display: none;
}
.navbar-collapse {
  border-top: 0;
}

.navbar-brand {
  margin-left: -15px;
}

/* Always apply the floated nav */
.navbar-nav {
  float: left;
  margin: 0;
}
.navbar-nav > li {
  float: left;
}
.navbar-nav > li > a {
  padding: 15px;
}

/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
  float: right;
}

/* Undo custom dropdowns */
.navbar .navbar-nav .open .dropdown-menu {
  position: absolute;
  float: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-width: 0 1px 1px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #333;
}
.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #fff !important;
  background-color: #428bca !important;
}
.navbar .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
  color: #999 !important;
  background-color: transparent !important;
}

/* Undo form expansion */
.navbar-form {
  float: left;
  width: auto;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* Copy-pasted from forms.less since we mixin the .form-inline styles. */
.navbar-form .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}

.navbar-form .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.navbar-form .form-control-static {
  display: inline-block;
}

.navbar-form .input-group {
  display: inline-table;
  vertical-align: middle;
}

.navbar-form .input-group .input-group-addon,
.navbar-form .input-group .input-group-btn,
.navbar-form .input-group .form-control {
  width: auto;
}

.navbar-form .input-group > .form-control {
  width: 100%;
}

.navbar-form .control-label {
  margin-bottom: 0;
  vertical-align: middle;
}

.navbar-form .radio,
.navbar-form .checkbox {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle;
}

.navbar-form .radio label,
.navbar-form .checkbox label {
  padding-left: 0;
}

.navbar-form .radio input[type="radio"],
.navbar-form .checkbox input[type="checkbox"] {
  position: relative;
  margin-left: 0;
}

.navbar-form .has-feedback .form-control-feedback {
  top: 0;
}

/* Undo inline form compaction on small screens */
.form-inline .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}

.form-inline .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.form-inline .form-control-static {
  display: inline-block;
}

.form-inline .input-group {
  display: inline-table;
  vertical-align: middle;
}
.form-inline .input-group .input-group-addon,
.form-inline .input-group .input-group-btn,
.form-inline .input-group .form-control {
  width: auto;
}

.form-inline .input-group > .form-control {
  width: 100%;
}

.form-inline .control-label {
  margin-bottom: 0;
  vertical-align: middle;
}

.form-inline .radio,
.form-inline .checkbox {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle;
}
.form-inline .radio label,
.form-inline .checkbox label {
  padding-left: 0;
}

.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
  position: relative;
  margin-left: 0;
}

.form-inline .has-feedback .form-control-feedback {
  top: 0;
}
.header {
  padding: 9px 0 3px;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #e3e3e3;
  height: 106px;
}
.kurs_and_news_bl {
  //border-top: 1px solid;
  //border-bottom: 1px solid;
  //border-color: gray;
  &:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #e5e5e5;
    left: 0;
    /* top: 0; */
    margin-top: -1px;
  }
}
.link_header {
  display: inline-block;
  li {
    display: inline-block;
    a {
      text-decoration: none;
      text-align: center;
      margin: 0 8px 0 0;
      float: left;
      span {
        display: block;
      }
      &:hover {
        .link_header {
          &_txt {
            color: #e7e7e7;
            border-color: transparent;
          }
          &_ico {
            svg {
              path,polygon {
                fill: #e7e7e7;
              }
              line {
                stroke: #e7e7e7;
              }
            }
          }
        }
      }
    }
  }
  &_ico {
    //margin-bottom: 5px;
  }
  &_txt {
    color: #678fbf;
    font-size: 17px;
    border-bottom: 2px solid #e7e7e7;
  }
}
.link_header_icons {
  li+li {
    margin-left: 18px;
  }
}
.logo {
  margin-top: 10px;
  display: inline-block;
}
.links_header {
  width: 210px;
  li {
    margin-top: 10px;
    a {
      margin-right: 21px;
    }
    &:last-child {
      a {
        margin-right: 0;
      }
    }
  }
  li+li+li {
    a {
      margin-right: 0;
    }
  }
}
.call_and_prof_name {
  display: inline-block;
  float: right;
  width: 207px;
}
.prof_link_name_bl {
  .prof_link_option_bl {
    position: absolute;
    width: 231px;
    border: 1px solid #ddddde;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    padding: 20px 0 10px 20px;
    background-color: #ffffff;
    z-index: 1;
    visibility: hidden;
    -webkit-transform: translateX(-35%);
    -moz-transform: translateX(-35%);
    -ms-transform: translateX(-35%);
    -o-transform: translateX(-35%);
    transform: translateX(-35%);
    opacity: 0;
    -webkit-transition: linear 0.2s;
    -moz-transition: linear 0.2s;
    -ms-transition: linear 0.2s;
    -o-transition: linear 0.2s;
    transition: linear 0.2s;
    right: -103px;
    bottom: -104px;
    text-align: left;
    &:after {
      content: '';
      position: absolute;
      right: 83px;
      bottom: -20px;
      border: 17px solid transparent;
      border-bottom: 17px solid #ffffff;
      top: -34px;
      height: 0;
    }
    &:before {
      content: '';
      position: absolute;
      right: 83px;
      bottom: -20px;
      border: 17px solid transparent;
      border-bottom: 17px solid #dddddd;
      top: -35px;
      height: 0;
    }
    a {
      display: block;
      line-height: normal;
      color: #678fbf;
      text-decoration: underline;
      margin-bottom: 10px;
      &:hover {
        text-decoration: none;
        color: #bcbcbd;
      }
    }
    //&.active {
    //  visibility: visible;
    //  opacity: 1;
    //  margin-top: 20px;
    //}
    p {
      font-size: 15px;
      color: #117289;
      font-weight: 100;
    }
  }
  &:hover {
    color: #e7e7e7;
    .prof_link_name {
      color: #e7e7e7;
      border-color: transparent;
    }
    .prof_link_option_bl {
      visibility: visible;
      opacity: 1;
      bottom: -119px;
      //bottom: -115px;
    }
  }
}
.prof_link {
  float: right;
  margin-top: 14px;
  width: 70%;
  text-align: center;
  margin-left: -1px;
  /* left: 4px; */
  margin-right: -10px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none!important;

  &:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 10px;
    height: 4%;
    /* Градиент */
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.40), #ffffff 100%);
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.40), #ffffff 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0.40), #ffffff 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0.40), #ffffff 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.40), #ffffff 100%);
  }
  &_ico {
    //float: left;
    display: inline-block;
    margin-top: 7px;
    margin-right: 13px;
    position: relative;
    svg {
      width: 33px;
      height: 33px;
    }
    &:after {
      content: "";
      background: url(../img/!.svg) no-repeat;
      position: absolute;
      top: 3px;
      left: 20px;
      height: 22px;
      width: 22px;
      background-size: cover;
    }
  }
  &_name {
    //text-align: left;
    //display: block;
    //float: left;
    font-size: 12px;
    color: #678fbf;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    border-bottom: 2px solid #e7e7e7;
  }
}
.call_btn {
  border: none;
  background-color: transparent;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
.call_back_footer {
  margin: 40px auto 15px;
  .row {
    width: 60%;
    margin: auto;
  }
  .comment_call_back {
    font-size: 22px;
    color: #117289;
    font-weight: 100;
    text-align: center;
    margin-bottom: 35px;
  }
}
.call_back__data {
  position: absolute;
  width: 620px;
  border: 1px solid #ddddde;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  padding: 15px 15px 16px;
  background-color: #ffffff;
  z-index: 1;
  text-align: center;
  visibility: hidden;
  -webkit-transform: translateX(-35%);
  -moz-transform: translateX(-35%);
  -ms-transform: translateX(-35%);
  -o-transform: translateX(-35%);
  transform: translateX(-35%);
  opacity: 0;
  -webkit-transition: linear 0.2s;
  -moz-transition: linear 0.2s ;
  -ms-transition: linear 0.2s ;
  -o-transition: linear 0.2s ;
  transition: linear 0.2s ;
  right: -190px;
  bottom: -70px;
  &:after {
    content: '';
    position: absolute;
    right: 141px;
    bottom: -20px;
    border: 17px solid transparent;
    border-bottom: 17px solid #ffffff;
    top: -34px;
    height: 0;
  }
  &:before {
    content: '';
    position: absolute;
    right: 141px;
    bottom: -20px;
    border: 17px solid transparent;
    border-bottom: 17px solid #dddddd;
    top: -35px;
    height: 0;
  }
  //&.active {
  //  visibility: visible;
  //  opacity: 1;
  //  margin-top: 20px;
  //}
  p {
    font-size: 15px;
    color: #117289;
    font-weight: 100;
  }
  .phone_ico_call {
    position: absolute;
    left: 6px;
    top: 19px;
  }
  .call_back_container {
    width: 530px;
    float: right;
    p {
      text-align: left;
      padding-left: 5px;
    }
  }
}

.form_input {
  border: 1px solid #ddddde;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  font-size: 16px;
  height: 35px;
  padding: 0 15px;
  text-align: center;
  width: 100%;
  color: #ddddde;
  outline: none!important;
  font-weight: 100;
  &:hover,&:active,&:focus {
    color: #678fbf;
    border: 1px solid #678fbf;
  }
}
.form_callback {
  padding: 0 5px;
}
.phone_bl {
  float: left;
  margin-top: 16px;
  //margin-right: 30px;
  &:hover {
    .call_btn {
      svg {
        .circle_phone {
          fill: #00b9e9;
        }
        g {
          path {
            stroke: #ffffff;
          }
        }
        path {
          stroke: #ffffff;
        }
      }
    }
    .call_back__data {
      visibility: visible;
      opacity: 1;
      bottom: -103px;
    }
  }
}
.btn_form {
  border: 1px solid #3dbfe5;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  font-size: 16px;
  height: 35px;
  padding: 0 15px;
  text-align: center;
  width: 100%;
  color: #3dbfe5;
  outline: none!important;
  display: block;
  line-height: 33px;
  text-decoration: none!important;
}
.courses_bl_list {
  //border-right: 1px solid #888888;
  //border-top: 1px solid;
  //border-bottom: 1px solid;
  border-right: 1px solid;
  border-color: #e5e5e5;
  padding: 0;
  &:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #e5e5e5;
    left: 0;
    /* top: 0; */
    margin-top: -1px;
  }
}
.title_opis {
  font-size: 30px;
  color: #117289;
  margin: 35px 0;
}
.title_name_courses {
  color: #678fbf;
  font-size: 30px;
  text-transform: uppercase;
  text-decoration: underline;
  //margin-top: 35px;
  //display: block;
}
.title_page {
  color: #678fbf;
  font-size: 30px;
  margin: 10px 0 18px;
  .ico_title {
    margin: -3px 20px 0px 0;
    float: left;
  }
}
.info_name_courses {
  color: #117289;
  font-size: 22px;
  line-height: 25px;
  margin: 10px 0 33px;
}
.nearest_courses {
  font-size: 15px;
  color: #dfdfdf;
  display: block;
  margin-bottom: 5px;
  &_date {
    font-size: 15px;
    color: #117289;
    display: block;
  }
}
.btn_rec_courses {
  background-color: transparent;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  font-weight: 100;
  border: 1px solid #dfdfdf;
  color: #dfdfdf;
  font-size: 16px;
  padding: 8px 20px;
  //font-size: 100%;
  &:hover {
    color: #3dbfe5;
    border-color: #3dbfe5;
  }
  &:active,&:focus {
    color: #ffffff;
    background-color: #3dbfe5;
    border-color: #3dbfe5;
  }
}
.btn_set_act {
    background-color: transparent;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-weight: 100;
    font-size: 16px;
    padding: 6px 20px 5px;
    color: #678fbf;
    border: 1px solid #678fbf;
  &:hover {
    color: #3dbfe5;
    border-color: #3dbfe5;
  }
  &:active,&:focus {
    color: #ffffff;
    background-color: #3dbfe5;
    border-color: #3dbfe5;
  }
}
.kurs_bl {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 35px;
  padding-top: 35px;
  &:after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    left: -100%;
    bottom: -1px;
    background-color: #e5e5e5;
  }
  &:last-child {
    border-bottom: 1px solid transparent;
    &:after {
      background-color: transparent;
    }
  }
  .btn_rec_courses {
    margin-left: -25px;
    margin-top: 4px;
  }
  //min-width: 607px;
}
.blogs_bl_list {
  padding-right: 0;
  border-left: 1px solid #e5e5e5;
  margin-left: -1px;
}
.blogs_bl {
  padding-bottom: 35px;
  padding-top: 35px;
  .title_name_courses{
    font-weight: 300;
  }
  .info_name_courses {
    font-size: 12px;
    color: #117289;
    line-height: 16px;
    margin: 10px 0 15px;
  }
}
.date_blogs {
  font-size: 15px;
  color: #1d4960;
}
.forums_blocks {
  font-size: 25px;
  font-weight: 300;
  color: #cfcece;
  margin: 25px 0 -5px;
  text-decoration: none!important;
  span {
    font-size: 25px;
    font-weight: 300;
    border-bottom: 1px solid #cfcece;
  }
  .ico_forums {
    border: none;
  }
  svg {
    margin-bottom: -9px;
    margin-right: 22px;
    rect {
      fill: #cfcece;
    }
    path {
      fill: #cfcece;
    }
    line {
      stroke: #cfcece;
    }
  }
  &:hover {
    span {
      color: #cfcece;
      border-color: transparent;
    }
  }
  &.blog_academ {
    svg {
      margin-top: 5px;
      margin-bottom: -14px;
    }
    //&:after {
    //  content: "";
    //  background-color: red;
    //  height: 100%;
    //  width: 100%;
    //  left: -100%;
    //  position: absolute;
    //}
  }
}
.link_pod_kurs {
  background-color: #f8f8f8;
  border-bottom: 1px solid #e4e4e4;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    bottom: -11px;
    background: url("../img/shadow_bottom.png") no-repeat left;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 895px;
    height: 11px;
    background-size: 100% 84%;
  }
  .forums_blocks {
    display: block;
    margin: 10px 0 18px;
    color: #678fbf;
    .blog_academ svg {
      margin-bottom: -10px;
    }
    rect {
      fill: #678fbf;
    }
    path {
      fill: #678fbf;
    }
    line {
      stroke: #678fbf;
    }
  }
}
.step_courses {
  //padding: 0 60px;
  margin-bottom: 55px;
  hr {
    width: 89.3%;
    float: right;
    margin: 40px 30px 0;
  }
  &_list {
    margin: 40px 0 20px;
  }
  &_img_bl {
    width: 30%;
    text-align: right;
  }
  &_txt_bl {
    width: 70%;
  }
  &_title {
    font-size: 35px;
    color: #00bae6;
    margin-bottom: 15px;
  }
  &_text {
    font-size: 20px;
    color: #117289;
  }
  &_comment {
    font-size: 12px;
    color: #3e5b62;
    margin-bottom: 30px;
  }
  &_bl_txt {
    padding-left: 60px;
  }
}
.trainin_bl {
  height: 590px;
  width: 100%;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    bottom: -11px;
    background: url("../img/shadow_bottom.png") no-repeat left;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 895px;
    height: 11px;
    background-size: 100% 84%;
  }
  &_left {
    width: 50%;
    background-color: #3dbfe5;
    height: 100%;
    display: inline-block;
    float: left;
    border-right: 1px solid #fff;
    position: relative;
    &:hover {
      background-color: #31afd4;
      .trainin_link_ico {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
      }
    }
    .trainin_link {
      right: 248px;
      top: 37%;
    }
    .image_left {
      float: right;
      height: 90%;
      margin-top: 30px;
    }
  }
  &_right {
    width: 50%;
    background-color: #fa6b3a;
    height: 100%;
    display: inline-block;
    float: left;
    position: relative;
    &:hover {
      background-color: #d5481c;
      .trainin_link_ico {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
      }
    }
    .trainin_link {
      left: 223px;
      top: 37%;
    }
    .image_right {
      float: left;
      margin-left: -1px;
      height: 90%;
      margin-top: 30px;
    }
  }
}
.trainin_link {
  position: absolute;
  text-align: center;
  text-decoration: none!important;
  &:hover {
    .trainin_link_ico {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1);
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s;
    }
  }
  &_ico {
    height: 140px;
    width: 140px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    background-color: #ffffff;
    position: relative;
    display: block;
    margin: 0 auto;
    border: 5px solid transparent;
    img {
      width: 100%;
    }
  }
  &_txt {
    font-size: 22px;
    color: #ffffff;
    display: block;
    margin-top: 8px;
  }
}
.soc_bl {
  padding: 42px 0;
  .title {
    color: #117289;
    font-size: 30px;
    margin-bottom: 40px;
  }
  &_button {

  }
}
.soc_btn {
  border: 1px solid #678fbf;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  font-size: 16px;
  height: 35px;
  padding: 0 20px;
  text-align: center;
  color: #678fbf;
  outline: none!important;
  display: inline-block;
  line-height: 33px;
  text-decoration: none!important;
  float: left;
  &:hover {
    background-color: #eeeeff;
  }
  img {
    margin-right: 10px;
  }

}
.fb_btn {
  .soc_btn {
    width: 180px;
    background-color: #496194;
    color: #ffffff;
    margin-left: 30px;
    &:hover {
      background-color: #6686ed;
    }
    img {
      float: left;
      margin-top: 6px;
    }
    span {
      float: left;
      margin-left: 8px;
    }
  }
  .arrow_option {
    background-color: #496194;
    &:hover {
      background-color: #6686ed;
    }
  }
  .soc_message_bl {
    width: 260px;
    right: -112px;
  }
}
.vk_btn {
  .soc_btn {
    width: 180px;
    background-color: #6996c7;
    color: #ffffff;
    &:hover {
      background-color: #4870c7;
    }
    img {
      float: left;
      margin-top: 4px;
    }
  }
  .arrow_option {
    background-color: #6996c7;
    &:hover {
      background-color: #4870c7;
    }
  }
  .soc_message_bl {
    width: 260px;
    right: -112px;
  }
}

.google_btn {
  .soc_btn {
    width: 180px;
    background-color: #1fa5fb;
    color: #ffffff;
    border: none;
    &:hover {
      background-color: #4870c7;
    }
    img {
      float: left;
      margin-top: 4px;
    }
  }
  .arrow_option {
    background-color: #6996c7;
    &:hover {
      background-color: #4870c7;
    }
  }
  .soc_message_bl {
    width: 260px;
    right: -112px;
  }
}
.arrow_option {
  border: 1px solid #678fbf;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  font-size: 16px;
  height: 35px;
  width: 48px;
  /* padding: 0 20px; */
  text-align: center;
  color: #678fbf;
  outline: none!important;
  display: inline-block;
  line-height: 0;
  text-decoration: none!important;
  float: left;
  background-color: #ffffff;
  margin-left: 10px;
  position: relative;
  cursor: pointer;
  &:hover {
    background-color: #eeeeff;
  }
  img {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 2px;
  }
  //span {
  //  position: absolute;
  //  width: 18px;
  //  height: 14px;
  //  left: 0;
  //  /* float: left; */
  //  right: 0;
  //  top: 0;
  //  bottom: 0;
  //  margin: auto;
  //  &:before {
  //    content: "";
  //    position: absolute;
  //    right: -2px;
  //    bottom: 0;
  //    border: 11px solid transparent;
  //    border-bottom: 14px solid #7a8bb1;
  //    top: -12px;
  //    height: 0;
  //  }
  //  &:after {
  //    content: "";
  //    position: absolute;
  //    right: -2px;
  //    bottom: 0;
  //    border: 11px solid transparent;
  //    border-bottom: 14px solid #ffffff;
  //    top: -12px;
  //    height: 0;
  //  }
  //}
  &:hover {
    .soc_message_bl {
      visibility: visible;
      opacity: 1;
      bottom: 60px;
    }
  }
}

.soc_message_bl {
  position: absolute;
  width: 320px;
  border: 1px solid #ddddde;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  padding: 20px 0 10px 20px;
  background-color: #ffffff;
  z-index: 1;
  visibility: hidden;
  -webkit-transform: translateX(-35%);
  -moz-transform: translateX(-35%);
  -ms-transform: translateX(-35%);
  -o-transform: translateX(-35%);
  transform: translateX(-35%);
  opacity: 0;
  -webkit-transition: linear 0.2s;
  -moz-transition: linear 0.2s ;
  -ms-transition: linear 0.2s ;
  -o-transition: linear 0.2s ;
  transition: linear 0.2s ;
  right: -134px;
  bottom: 75px;
  text-align: left;
  &:after {
    content: '';
    position: absolute;
    right: 26px;
    border: 17px solid transparent;
    border-top: 17px solid #ffffff;
    bottom: -34px;
    height: 0;
  }
  &:before {
    content: '';
    position: absolute;
    right: 26px;
    border: 17px solid transparent;
    border-top: 17px solid #dddddd;
    bottom: -35px;
    height: 0;
  }
  a {
    display: block;
    line-height: normal;
    color: #678fbf;
    text-decoration: underline;
    float: left;
    margin-bottom: 10px;
    &:hover {
      text-decoration: none;
      color: #bcbcbd;
    }
  }
  //&.active {
  //  visibility: visible;
  //  opacity: 1;
  //  margin-top: 20px;
  //}
  p {
    font-size: 15px;
    color: #117289;
    font-weight: 100;
  }
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 25px;
  &_blue_left {
    background-color: #3dbfe5;
    height: 25px;
  }
  &_orange_right {
    background-color: #fa6b3a;
    border-left: 1px solid #ffffff;
    height: 25px;
    p {
      margin: 0;
      color: #f3fafc;
      font-size: 10px;
      text-transform: uppercase;
      line-height: 25px;
    }
  }
}
.content_tabs_lk {
  padding-top: 38px;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 40px;
  &:last-child {
    border-bottom: 1px solid transparent;
  }
  &.inbox_tab {
    .inbox_bl_inf {
      margin-bottom: 20px;
    }
  }
  &_double {
    padding-top: 0;
    padding-bottom: 0;
    .blogs_bl {
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-left: 70px;
        padding-bottom: 39px;
      }
    }
  }
}
.txt_login {
  p,span {
    font-size: 14px;
    color: #117289;
  }
}
.title_tabs {
  h4,h3,h2,h1,span,p {
    color: #117289;
    font-size: 22px;
    margin-bottom: 40px;
  }
}
.title_login_pg {
  h4,h3,h2,h1,span,p {
    color: #117289;
    font-size: 30px;
    margin-bottom: 25px;
  }
}
.checkbox_login {
  label {
    margin-top: 24px;
    font-weight: 300;
  }
}
.link_log_reg {
  margin-top: 40px;
  a {
    color: #678fbf;
    font-size: 15px;
    border-bottom: 2px solid #e7e7e7;
    margin-right: 50px;
    text-decoration: none!important;
    &:hover {
      color: #e7e7e7;
      border-color: transparent;
    }
  }
}
.date_tabs {
  p {
    color: #117289;
    font-size: 16px;
    line-height: 25px;
  }
}
.name_link_theme {
  margin-bottom: 10px;
  a {
    color: #678fbf;
    font-size: 18px;
    text-decoration: underline;
  }
}
.tabs_lk {
  .tab-content {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      bottom: -10px;
      background: url(../img/shadow_bottom.png) no-repeat left;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 895px;
      height: 11px;
      background-size: 100% 84%;
    }
  }

  .btn_reader_tabs {
    .btn {
      margin-top: -10px;
    }
  }
  .btn {
    margin-right: 23px;
    padding: 6px 20px;
  }

  .subtitle_tabs {
    p {
      color: #dfdfdf;
      font-size: 16px;
    }
  }
}
.name_soc_port {
  color: #dfdfdf;
  font-size: 16px;
}
.name_soc_prof {
  color: #678fbf;
  font-size: 13px;
}
.tabs_link_bl {
  background-color: #f7f5f4;
  position: relative;
  width: 100%;
  padding-top: 12px;
  border-bottom: 1px solid #e5e5e5;
  &:before {
    content: "";
    position: absolute;
    top: -1px;
    background: url(../img/shadow_bottom.png) no-repeat left;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 895px;
    height: 11px;
    background-size: 100% 84%;
  }

  ul {
    border-bottom: 0;
    li {
      margin-right: 67px;
      border-bottom: 1px solid #e5e5e5;
      &.active {
        border-bottom: 1px solid #ffffff;
        a {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          .tabs_link_name {
            border-bottom: 2px solid transparent;
          }
        }
      }
      a {
        border-color: transparent!important;
        padding: 17px 35px 9px 15px;
        background-color: #ffffff;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        &:hover,&:focus {
          background-color: #ffffff;
          .tabs_link_name {
            color: #bcbcbd;
            border-bottom: 2px solid transparent;
          }
          .tabs_link_ico {
            svg {
              path,polygon,rect {
                fill: #bcbcbd;
              }
            }
          }
        }
        .tabs_link_ico {
          display: inline-block;
          margin: -4px 18px 0 0;
          float: left;
        }
        .tabs_link_name {
          border-bottom: 2px solid #e7e7e7;
        }
      }
    }
  }
}
.tabs_link_name {
  color: #678fbf;
  font-size: 22px;
  border-bottom: 2px solid transparent;
}

.table_set {
  margin-bottom: 15px;
  thead {
    tr {
      th {
        color: #dfdfdf;
        font-size: 15px;
        font-family: "Roboto" ,sans-serif;
        font-weight: normal;
        padding-bottom: 15px;
        &:first-child {
          padding-left: 60px;
          width: 35%;
        }
      }
    }
  }
  tbody {
    tr {
      td {
        font-size: 13px;
        color: #117289;
        &+td {
          padding-top: 15px;
          padding-bottom: 5px;
          vertical-align: top;
        }
      }
    }
  }
}
.soc_prof_login {
  margin-top: 20px;
  .soc_btn {
    margin-left: 0;
    margin-right: 30px;
  }
}

.registr_content {
  .form_input, .btn_set_act {
    width: 85%;
    margin-bottom: 10px;
  }
  p,span {
    font-size: 22px;
    color: #117289;
  }
}

















//checkbox custom


/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 60px;
  cursor: pointer;
  color: #678fbf;
  font-size: 15px;
  padding-top: 5px;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 25px;
  height: 25px;
  border: 1px solid #3dbfe5;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: none;
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 4px;
  left: 2px;
  font-size: 27px;
  line-height: 0.8;
  color: #3dbfe5;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px dotted blue;
}

/* hover style just for information */
label:hover:before {
  border: 1px solid #4778d9!important;
}



