@font-face {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/GothamProBlack.eot') format('eot'),
  url('../fonts/GothamProBlack.ttf') format('truetype'),
  url('../fonts/GothamProBlack.woff') format('woff');
}

@font-face {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/GothamProLight.eot') format('eot'),
  url('../fonts/GothamProLight.ttf') format('truetype'),
  url('../fonts/GothamProLight.woff') format('woff');
}

@font-face {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/GothamProMedium.eot') format('eot'),
  url('../fonts/GothamProMedium.ttf') format('truetype'),
  url('../fonts/GothamProMedium.woff') format('woff');
}

@font-face {
  font-family: 'Akzidenz Grotesk Pro';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/AkzidenzGroteskPro-Md.otf') format('opentype');
}

@font-face {
  font-family: 'DinproBlack';
  font-style: normal;
  src: url('../fonts/DINPro-Black_13933.ttf') format('truetype');
}