$accent-color: white;

$base-font: 'GothamProBlack', 'Arial', sans-serif;
$medium-font: 'GothamProMedium', 'Arial', sans-serif;
$light-font: 'GothamProLight', 'Arial', sans-serif;

//$base-font-weight: 900;
//$middle-font-weight: 500;
//$light-font-weight: 300;
