@import url(https://fonts.googleapis.com/css?family=Exo+2:400,500,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700,100);
p,span,a {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
a {
  color: #015e27;
  font-size: 22px;
  //border-bottom: 1px solid rgba(1,94,39,0.3);
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
h1,h2,h3,h4 {
  font-family: 'Exo 2', sans-serif;
}
header {
  padding: 25px 0;
}

.header_kab {
  /* IE10+ */
  background-image: -ms-linear-gradient(left, #015E27 0%, #026B4A 20%, #0F6C74 50%, #1E517C 75%, #114A81 100%);

  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(left, #015E27 0%, #026B4A 20%, #0F6C74 50%, #1E517C 75%, #114A81 100%);

  /* Opera */
  background-image: -o-linear-gradient(left, #015E27 0%, #026B4A 20%, #0F6C74 50%, #1E517C 75%, #114A81 100%);

  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #015E27), color-stop(20, #026B4A), color-stop(50, #0F6C74), color-stop(75, #1E517C), color-stop(100, #114A81));

  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(left, #015E27 0%, #026B4A 20%, #0F6C74 50%, #1E517C 75%, #114A81 100%);

  /* W3C Markup */
  background-image: linear-gradient(to right, #015E27 0%, #026B4A 20%, #0F6C74 50%, #1E517C 75%, #114A81 100%);
}
.header_home_pg {
  position: absolute;
  width: 100%;
  z-index: 1;
}
.content_home_pg {
  .item {
    img {
      margin: auto;
      width: 100%;
    }
  }
}
.header_btn {
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #ffffff;
  font-size: 17px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  &:hover,&:active,&:focus {
    color: #adc520;
  }
}
.nav_link_header {
  list-style: none;
  float: right;
  margin-right: 40px;
  li {
    display: inline-block;
    margin-left: 5px;
    a {
      font-size: 17px;
      color: #ffffff;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      padding-bottom: 3px;
      text-decoration: none;
    }
  }
}
.btn_logins {
  margin-right: 20px;
  float: right;
}
footer {
  .container {
    background-color:#eff4e5;
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#eff4e5, endColorstr=#e9ecff);
    background-image:-moz-linear-gradient(left, #eff4e5 0%, #e9ecff 100%);
    background-image:-webkit-linear-gradient(left, #eff4e5 0%, #e9ecff 100%);
    background-image:-ms-linear-gradient(left, #eff4e5 0%, #e9ecff 100%);
    background-image:linear-gradient(left, #eff4e5 0%, #e9ecff 100%);
    background-image:-o-linear-gradient(left, #eff4e5 0%, #e9ecff 100%);
    background-image:-webkit-gradient(linear, left bottom, right bottom, color-stop(0%,#eff4e5), color-stop(100%,#e9ecff));
    padding: 40px 40px 0;
  }
  h4 {
    font-size: 27px;
    color: #000000;
    font-weight: 500;
    margin-bottom: 40px;
  }
}
.list_cat_book {
  padding: 0;
  list-style: none;
  li {
    margin-bottom: 20px;
    a {
      font-size: 22px;
      color: #015e27;
      font-weight: 100;
      text-decoration: none;
      .name_cat_reg {
        border-bottom: 1px solid rgba(1, 94, 39, 0.30);
      }
      .number_cat_rec {
        font-size: 15px;
        color: #a1a1a1;
        margin-left: 7px;
      }
    }
  }
}
.adres_list {
  padding: 0;
  list-style: none;
  li {
    margin-bottom: 20px;
    width: 100%;
    float: left;
    p {
      font-size: 22px;
      color: #000000;
      font-weight: 100;
    }
    .adres_txt {
      color: #015e27;
      border-bottom: 1px solid rgba(1, 94, 39, 0.31);
      float: left;
    }
    .phone_txt {

    }
  }
}
.copyright_com {
  margin-top: 120px;
  margin-bottom: 30px;
  span {
    font-size: 19px;
    color: #000000;
    margin: 0;
    font-weight: 100;
    display: block;
  }
  a {
    font-size: 19px;
    font-weight: 100;
    text-decoration: none;
  }
}
.carousel {
  .carousel-indicators {
    bottom: inherit;
    top: 10px;
    left: inherit;
    right: 0;
    width: 100%;
    text-align: right;
    padding-right: 15px;
    li {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      width: 11px;
      height: 11px;
      margin: 0 3px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      &.active {
        width: 11px;
      }
    }
  }
}
.carousel-caption {
  h1 {
    margin-bottom: 15px;
    text-shadow: none;
  }
  p {
    font-weight: 400;
    line-height: 34px;
    text-shadow: none;
  }
  span {
    text-shadow: none;
  }
}
.carousel_slide_top {
  .slide_section {
    top: 180px;
  }
  h1 {
    margin-bottom: 15px;
    text-shadow: none;
  }
  p {
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    text-shadow: none;
  }
  .carousel-indicators {
    bottom: inherit;
    top: 185px;
    left: inherit;
    right: 0;
    width: 100%;
    text-align: right;
    padding-right: 25px;
    li {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      width: 11px;
      height: 11px;
      margin: 0 3px;
      &.active {
        width: 11px;
      }
    }
  }
  .carousel-caption {
    right: inherit;
    left: 4%;
    padding-bottom: 30px;
    text-align: left;
    width: 50%;
    bottom: inherit;
    top: 220px;
  }
  .carousel-control.right {
    height: 66px;
    width: 66px;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.65);
    margin: auto;
    right: 14%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    .glyphicon {
      font-size: 20px;
      height: 22px;
      left: 18px;
    }
  }
}
.slide_section {
  color: #000;
  font-family: 'Roboto',sans-serif;
  font-weight: 300;
  font-size: 16px;
  padding: 5px 10px;
  position: absolute;
  top: 0;
  min-width: 130px;
  text-align: center;
  &.green_sec {
    background-color: #adc520;
  }
  &.orange_sec {
    background-color: #ff9c52;
  }
}


.slider_grid {
  padding: 0;
  &:nth-child(2n) {
    border-top: 14px solid #ffffff;
    border-right: 0;
    border-left: 7px solid #ffffff;
    border-bottom: 0;
  }
  &:nth-child(2n+1) {
    border-top: 14px solid #ffffff;
    border-left: 0;
    border-right: 7px solid #ffffff;
    border-bottom: 0;
  }
  .carousel-caption {
    top: 0;
    left: 0;
    text-align: left;
    padding: 95px 50px 0;
    right: 0;
    p {
      line-height: 28px;
      font-size: 19px;
      font-weight: 300;
    }
  }
  &:hover {
    .carousel-control {
      &.left {
        left: 5%;
      }
      &.right {
        right: 5%;
      }
    }
  }
  .carousel {
    overflow: hidden;
  }
  .carousel-control {
    height: 66px;
    width: 66px;
    border-radius: 50%;
    top: 40px;
    bottom: 0;
    background-color: rgba(0,0,0,0.65);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    .glyphicon {
      font-size: 20px;
      height: 22px;
      left: 0;
      right: 0;
      margin: auto;
      top: 0;
      bottom: 0;
    }
    &.left {
      left: -15%;
    }
    &.right {
      right: -15%;
    }
  }
}
.slide_wite {
  p,h1,span {
    color: #000000;
  }
  .carousel-indicators
  li {
    border: 1px solid #000000;
    &.active {
      background-color: #000000;
    }
  }
}
.data_rec_slide {
  position: absolute;
  bottom: 0;
}
@media screen and (max-width: 768px) {
  .slider_grid {
  border: none!important;
  }
}