RewriteEngine on
Options -Indexes
AddDefaultCharset utf-8
AddType application/x-dbase .dbf
RewriteBase / 
RewriteCond %{REQUEST_URI}  !^/js
RewriteCond %{REQUEST_URI}  !^/public
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule !\.(js|ico|gif|html|swf|flv|xml|jpg|jpeg|png|css|pdf|doc|xls|ppt|php)$ /index.php
<Files /protected>
	deny from all
</Files>

<ifModule mod_headers.c>
  Header unset Cache-Control
</ifModule>